In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
data = "C:/Users/jayne/OneDrive/Documents/University of San Diego/Capstone/winequality-white.txt"

In [4]:
df_white = pd.read_csv(data,sep = ';')

In [5]:
import seaborn as sns

In [43]:
from scipy import stats

In [7]:
import matplotlib.pyplot as plt
%matplotlib inline

In [8]:
color_white = np.repeat('white', 4898)

In [9]:
df_white['color'] = color_white

In [10]:
df_white.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,color
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6,white
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6,white
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6,white
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,white
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,white

In [11]:
data2 = "C:/Users/jayne/OneDrive/Documents/University of San Diego/Capstone/winequality-red.csv"

In [12]:
df_red = pd.read_csv(data2)

In [13]:
color_red = np.repeat('red', 1599)

In [14]:
df_red['color'] = color_red

In [15]:
df_red.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,color
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,red
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,red
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,red
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red

In [16]:
df_combine = pd.concat([df_white,df_red], ignore_index=True)
df_combine.index

RangeIndex(start=0, stop=6497, step=1)

In [17]:
df_combine.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,color
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6,white
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6,white
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6,white
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,white
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,white

In [18]:
df_combine.tail()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,color
6492,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5,red
6493,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6,red
6494,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6,red
6495,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5,red
6496,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6,red

In [19]:
column = range(0,len(df_combine))

In [20]:
df_combine.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,color
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6,white
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6,white
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6,white
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,white
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,white

In [25]:
df_combine["Wine Number"] = range(0,len(df_combine))

In [26]:
df_combine.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,color,Wine Number
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6,white,0
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6,white,1
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6,white,2
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,white,3
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,white,4

In [45]:
df_combine.to_csv('C:/Users/jayne/OneDrive/Documents/University of San Diego/Capstone/winecombine.csv')

In [1]:
import numpy as np

In [28]:
df_combine.groupby('color').mean()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,Wine Number
color,,,,,,,,,,,,,
red,8.319637,0.527821,0.270976,2.538806,0.087467,15.874922,46.467792,0.996747,3.311113,0.658149,10.422983,5.636023,5697.0
white,6.854788,0.278241,0.334192,6.391415,0.045772,35.308085,138.360657,0.994027,3.188267,0.489847,10.514267,5.877909,2448.5

In [35]:
df_combine.groupby('color')['pH'].mean()

color
red      3.311113
white    3.188267
Name: pH, dtype: float64

In [36]:
df_combine.groupby('color')['pH'].std()

color
red      0.154386
white    0.151001
Name: pH, dtype: float64

In [54]:
pip install statsmodels

Collecting statsmodels
  Downloading statsmodels-0.13.5-cp310-cp310-win_amd64.whl (9.1 MB)
     ---------------------------------------- 9.1/9.1 MB 9.1 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.22.3 in c:\users\jayne\miniconda3\lib\site-packages (from statsmodels) (1.23.5)
Requirement already satisfied: scipy>=1.3 in c:\users\jayne\miniconda3\lib\site-packages (from statsmodels) (1.10.0)
Requirement already satisfied: packaging>=21.3 in c:\users\jayne\miniconda3\lib\site-packages (from statsmodels) (22.0)
Requirement already satisfied: pandas>=0.25 in c:\users\jayne\miniconda3\lib\site-packages (from statsmodels) (1.5.3)
Collecting patsy>=0.5.2
  Downloading patsy-0.5.3-py2.py3-none-any.whl (233 kB)
     ------------------------------------- 233.8/233.8 kB 14.0 MB/s eta 0:00:00
Requirement already satisfied: pytz>=2020.1 in c:\users\jayne\miniconda3\lib\site-packages (from pandas>=0.25->statsmodels) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\jayne\miniconda3\lib\site-packages (from pandas>=0.25->statsmodels) (2.8.2)
Requirement already satisfied: six in c:\users\jayne\miniconda3\lib\site-packages (from patsy>=0.5.2->statsmodels) (1.16.0)
Installing collected packages: patsy, statsmodels
Successfully installed patsy-0.5.3 statsmodels-0.13.5
Note: you may need to restart the kernel to use updated packages.

In [55]:
import statsmodels.tools.tools as statools
import statsmodels.api as sm

In [56]:
from statsmodels.stats.weightstats import ztest as ztest

In [63]:
ztest((df_combine.loc[df_combine['color'] == 'white'])['pH'],(df_combine.loc[df_combine['color'] == 'red'])['pH'],alternative='smaller')

(-28.09002558145285, 6.4845417720337635e-174)